<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<html>
<head>
  <title>Will Gant tech test</title>
</head>
<body>
  <form action="/company" method="post" accept-charset="utf-8" id="company_input">
    <input type="text" name="content" />
    <input type="submit" value="Search">
  </form>

<% if(typeof data != 'undefined') { %>
  <% data = JSON.parse(data) %>

<div class="w3-card-4" id="card">
  <p id="ticker_price"><%= data.tickerCode + ' ' + data.latestPrice %>  </p>
  <% for(i = 0; i != 2; i++) { %>
  <p id=<%="story" + (i+1) %> > <%= data.news[i].body %></p>
  <% } %>
</div>

<% } %>

</body>
</html>
