<!DOCTYPE html>
<html>
<head>
  <title>Will Gant tech test</title>
</head>
<body>
  <form action="/company" method="post" accept-charset="utf-8" id="company_input">
    <input type="text" name="content" />
    <input type="submit" value="Search">
  </form>
</body>
</html>
